# Ignore Visual Studio temporary files, build results, and user-specific files
.vs/
*/**/.vs/
*/**/bin/
*/**/obj/
*/**/*.user

###### Hardware ######
# Ignore build results
Hardware/build/
Hardware/.vscode/
