###### Software ######
# Ignore Visual Studio temporary files, build results, and
# user-specific files
Software/.vs/
Software/bin/
Software/obj/
Software/ConsoleDeck.csproj.user

###### Hardware ######
# Ignore build results
Hardware/build/
Hardware/.vscode/
