<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" 
           Name="ConsoleDeck Service" 
           Language="1033" 
           Version="0.9.0" 
           Manufacturer="Kasper Inc." 
           UpgradeCode="{c1f8372d-ab90-45cb-90d7-dc75fd0e0897}">

    <Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine" 
             Description="Installer for ConsoleDeck Service" />

    <!-- Prevent downgrades -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of ConsoleDeck Service is already installed." />

    <!-- UI: Use a basic UI sequence -->
    <UIRef Id="WixUI_Minimal" />

    <!-- Media: Single CAB file for compression -->
    <MediaTemplate EmbedCab="yes" />

    <!-- Feature: What gets installed -->
    <Feature Id="ProductFeature" 
             Title="ConsoleDeck Service" 
             Description="Installs the ConsoleDeck Service application" 
             Level="1" 
             ConfigurableDirectory="INSTALLFOLDER">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

  </Product>

  <!-- Directory structure -->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="ConsoleDeckService" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="ConsoleDeckService">
            <RemoveFile Id="RemoveApplicationProgramsFolder" Name="*" On="uninstall" />
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpA0863526952F7834E7C922F065E4C8A8" Guid="{586B5113-938B-4A61-A144-3C1F1B340E0A}">
                <File Id="filC04B02D0CCC2D5CCC1013B35DE86DB29" KeyPath="yes" Source="SourceDir\appsettings.Development.json" />
            </Component>
            <Component Id="cmpF82FCA80BBAF44D285C97F10993DEEE6" Guid="{0893263A-14EC-4054-87A1-0E2A18B9A13B}">
                <File Id="fil840B80AC19861C7F9F04FBDCFAE331CE" KeyPath="yes" Source="SourceDir\appsettings.json" />
            </Component>
            <Component Id="cmp942DDD43C48E48C13C1ED70AF7D6D72E" Guid="{8595A47A-4EFD-47B2-BE0F-7B1F836511DC}">
                <File Id="fil4CB9672520945B018F4B4A9F732DD252" KeyPath="yes" Source="SourceDir\Avalonia.Base.dll" />
            </Component>
            <Component Id="cmp3BC9F602F8F92F9D3C907C2BC0FA3A0E" Guid="{D91A7AB2-481B-4FB8-B5AF-EDAAD369E918}">
                <File Id="fil88EEE7B92DC0C6E369CD8578C62D26D6" KeyPath="yes" Source="SourceDir\Avalonia.Controls.ColorPicker.dll" />
            </Component>
            <Component Id="cmpB7E58B98F6D0890A53636E6C2E953061" Guid="{F57EFBFD-01F2-4527-9FFB-B3527B1533B5}">
                <File Id="fil661CE1114BABCCBD49E8F6BDD593755E" KeyPath="yes" Source="SourceDir\Avalonia.Controls.dll" />
            </Component>
            <Component Id="cmp93743B50FD3FC8AB2EA47897093C2467" Guid="{87791CA5-B454-429D-9385-48B0FFEE77D4}">
                <File Id="fil6428C84FF49180C09D8470483D1881C0" KeyPath="yes" Source="SourceDir\Avalonia.DesignerSupport.dll" />
            </Component>
            <Component Id="cmp46C92BABDACBE495A5CED58407D280D8" Guid="{C81C5CB1-8731-40FC-96D7-4D41231CB4C3}">
                <File Id="fil73C7BCE0913B2D64326945FDF2EF7B63" KeyPath="yes" Source="SourceDir\Avalonia.Desktop.dll" />
            </Component>
            <Component Id="cmp27A31D9C3C1AA272F0D0D90DEE7CF252" Guid="{79171BC3-528D-4DD2-9E50-57980948669A}">
                <File Id="fil9F4E461681E037FB6442FBDE1321EB4C" KeyPath="yes" Source="SourceDir\Avalonia.Diagnostics.dll" />
            </Component>
            <Component Id="cmp753A550BCADD7E2DE4FB25F55CBFA512" Guid="{A79E638C-2BAD-4CF4-A9A9-C15FD3310D53}">
                <File Id="filD453DD71599C82513C77A8EACD721801" KeyPath="yes" Source="SourceDir\Avalonia.Dialogs.dll" />
            </Component>
            <Component Id="cmp1F6A512565E2FBF645A3230C236BE532" Guid="{02CC5C46-92A6-4FE6-A093-E58ECCFBF689}">
                <File Id="filD5651B7B32A60196CF3CD59F61457A63" KeyPath="yes" Source="SourceDir\Avalonia.dll" />
            </Component>
            <Component Id="cmp738E0436923046D0A9B0D658E3640016" Guid="{86AE6118-84DA-4916-97B1-F2C8BF87DD8C}">
                <File Id="fil0D066BEFABBE9B2EF81612530D8ECB48" KeyPath="yes" Source="SourceDir\Avalonia.Fonts.Inter.dll" />
            </Component>
            <Component Id="cmpDF229E3F98CA2E37326E841BEB412F73" Guid="{5507A128-D75F-4D8F-A7BA-825843994E9F}">
                <File Id="fil25C1DC7A8C1DEEFB7DA4697C4EF8E5DC" KeyPath="yes" Source="SourceDir\Avalonia.FreeDesktop.dll" />
            </Component>
            <Component Id="cmp2B371E13774EC94A8B29135E6290B962" Guid="{62413C4A-16C8-4924-B1CF-5971095711EB}">
                <File Id="filA5B7F3F26B37119EDF17E67946C3AB9A" KeyPath="yes" Source="SourceDir\Avalonia.Markup.dll" />
            </Component>
            <Component Id="cmp5165332B3300942339A67AA4E269E40F" Guid="{1266165B-9A18-41F7-9950-A3ED9AB11DCD}">
                <File Id="filAD127A66F5C77847F44255F28D77317F" KeyPath="yes" Source="SourceDir\Avalonia.Markup.Xaml.dll" />
            </Component>
            <Component Id="cmp1B2EAD28185A3AF7CC96A0B8C877E4DE" Guid="{F0ADB773-7EA3-4525-8650-49DD7EBB1541}">
                <File Id="fil19FBE2F065B3D98A822484113CB89CAB" KeyPath="yes" Source="SourceDir\Avalonia.Metal.dll" />
            </Component>
            <Component Id="cmpDAEE63BB086710AE102FE19B31C06D91" Guid="{2BB5B12D-C027-4F21-967B-36B94D7DA8B8}">
                <File Id="filAD248E4935CE42B4CF1124922A489513" KeyPath="yes" Source="SourceDir\Avalonia.MicroCom.dll" />
            </Component>
            <Component Id="cmp7D89FB0244088E2C966B72866F74928E" Guid="{D0C2326E-7DE5-44D4-B139-6091EFC9DEC6}">
                <File Id="fil9F7006E5F595EF0F51B2FB9D68A15B53" KeyPath="yes" Source="SourceDir\Avalonia.Native.dll" />
            </Component>
            <Component Id="cmp652C599E2FF46ADF0FDF7E590A048DFF" Guid="{63F4AB80-323F-4566-A4C7-F40D9779F5C2}">
                <File Id="fil6D2EB2737214178ED9CA79C11B4F4096" KeyPath="yes" Source="SourceDir\Avalonia.OpenGL.dll" />
            </Component>
            <Component Id="cmp8E8F6EFAE0A502E5C75FB3A517EFEDE8" Guid="{8A19ED47-0678-4E77-80E1-7C90C4ED3919}">
                <File Id="filE78EB8DD0FB62E38F292181285B7F996" KeyPath="yes" Source="SourceDir\Avalonia.Remote.Protocol.dll" />
            </Component>
            <Component Id="cmp3B1701CAC2286534858181E0A387FC2A" Guid="{D24B2527-5842-4F2F-87B5-21CA7E9CDA75}">
                <File Id="fil517E6F74437D37A9CE0D947D43EC429D" KeyPath="yes" Source="SourceDir\Avalonia.Skia.dll" />
            </Component>
            <Component Id="cmp4288AAFFB0BD49192CC5E1F5A1037EE5" Guid="{560109A1-0FB9-4ACE-BC4E-5A85CFE69293}">
                <File Id="filB969C1473231D693846F157DD8A383CB" KeyPath="yes" Source="SourceDir\Avalonia.Themes.Fluent.dll" />
            </Component>
            <Component Id="cmpC9723B550439F318FDDB610B8243A31B" Guid="{29E65144-4BA0-47E0-A24D-5CB23258C029}">
                <File Id="filA8638987C658B314A000EAC5F2D5D8F9" KeyPath="yes" Source="SourceDir\Avalonia.Themes.Simple.dll" />
            </Component>
            <Component Id="cmp37B84349BF328B1F3E0F83529BB42B12" Guid="{83C6BEB8-59B9-4556-979A-2B04407F19AA}">
                <File Id="fil6116754BD1356844E9678CA67B2FDFA8" KeyPath="yes" Source="SourceDir\Avalonia.Vulkan.dll" />
            </Component>
            <Component Id="cmp57A114496F1FEBFC8968E2E30AFA3599" Guid="{CB2A39FF-8E1D-47CA-8AE7-2F33283563A5}">
                <File Id="filCA033A734F057732DAD98CC459A1450C" KeyPath="yes" Source="SourceDir\Avalonia.Win32.Automation.dll" />
            </Component>
            <Component Id="cmp1B962F159356F8395269415D98063C3C" Guid="{D8DFBEB3-22C9-40BF-84E0-A4DDD797826B}">
                <File Id="fil7C39640D0A508929AD3AA9687A98CA63" KeyPath="yes" Source="SourceDir\Avalonia.Win32.dll" />
            </Component>
            <Component Id="cmpC7133CDDCA73D11DC9059ADFB702656C" Guid="{4D01DA4E-F535-4E10-BEAC-91D263E06111}">
                <File Id="filECD5008A06C8B2FB5534E347CEA2AC65" KeyPath="yes" Source="SourceDir\Avalonia.X11.dll" />
            </Component>
            <Component Id="cmp9BE86820D2E5626E10CE837DFAA24EFA" Guid="{3B504A38-6CF8-44A5-9F94-D260C8E8E0FC}">
                <File Id="filA10AA6C18BF93EEFD16E40110B1631F6" KeyPath="yes" Source="SourceDir\ConsoleDeckService.deps.json" />
            </Component>
            <Component Id="cmpCE837621E2F7B4F8D1F3A362B2AA5CAA" Guid="{C56720D7-6E95-43BC-9E49-C0CB462F8145}">
                <File Id="fil190371210A41EB7130456CDC9E1FCE19" KeyPath="yes" Source="SourceDir\ConsoleDeckService.dll" />
            </Component>
            <Component Id="cmp35338C36FC8BD845C936E5D916C9622D" Guid="{70566F9E-45E5-400A-8F54-C3A31735032D}">
                <File Id="fil5014443E76127855C1AEADE759C3CC07" KeyPath="yes" Source="SourceDir\ConsoleDeckService.exe" />
            </Component>
            <Component Id="cmpBDC2381ADB0054BF38F31E7F54B125E7" Guid="{ED134514-20DD-4570-B3C4-9DB46EC76B55}">
                <File Id="fil6F4FF45DCC58EF1609806B0C0A5BABB5" KeyPath="yes" Source="SourceDir\ConsoleDeckService.pdb" />
            </Component>
            <Component Id="cmp4F37719584352F65D33D40017843B17F" Guid="{2CA73BC1-60FA-4681-A047-B38EAA646EA3}">
                <File Id="fil6992EEA88E0C93AC622D0290A05A71AA" KeyPath="yes" Source="SourceDir\ConsoleDeckService.runtimeconfig.json" />
            </Component>
            <Component Id="cmpBE5E02242AD30755F00B7FE2A4313FFF" Guid="{FA99C2C7-C60C-4866-B9DB-5ABDBAF20E93}">
                <File Id="fil21BDE0E473148841A97056AED2ADF268" KeyPath="yes" Source="SourceDir\consoledeck_service.wxs" />
            </Component>
            <Component Id="cmp6E52FEFA6BB26E501487BBBFD5B22D83" Guid="{9B349F8F-F05F-430A-84CD-3A6900B76D05}">
                <File Id="filFEE5BE8A9EEAD45AE17C3B9228038FFA" KeyPath="yes" Source="SourceDir\HarfBuzzSharp.dll" />
            </Component>
            <Component Id="cmp8B6B824170531DA4ACCB267F3B3F8FF6" Guid="{68C5BC34-6E60-4AEE-88FE-208CC31E8D76}">
                <File Id="fil2BAF226DFAE1DC393DCE2619AB133832" KeyPath="yes" Source="SourceDir\HidSharp.dll" />
            </Component>
            <Component Id="cmpC92B011B9D4BE8C57CCA560516CAAAFD" Guid="{2D35395F-6926-42B6-BC27-F9D5D820F486}">
                <File Id="fil41544853232DC0C76FD3196B49EE5624" KeyPath="yes" Source="SourceDir\MicroCom.Runtime.dll" />
            </Component>
            <Component Id="cmpDC19BA21EFF423B27F8787A2AB8F2B3C" Guid="{FC288D14-9AA5-4114-BAD6-5BAB6951293B}">
                <File Id="filF6767F9D22B6D46DD3A2FC798B5F23DE" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Configuration.Abstractions.dll" />
            </Component>
            <Component Id="cmp85A16DDDD438C8839C302EEFF54E8E0C" Guid="{1CABAF09-C891-469F-B9F5-8B14882A5429}">
                <File Id="fil52FC3D526CBD9DC330C6FE3380563F0C" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Configuration.Binder.dll" />
            </Component>
            <Component Id="cmp4A61E3F01E16F7C35D22D304DE7C3D7D" Guid="{6FE66F5B-8DE3-4DF0-9096-5ED71D0CE0B9}">
                <File Id="filB3B34A4CDA6A327AC31CAD64389BC80C" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Configuration.CommandLine.dll" />
            </Component>
            <Component Id="cmpC2B3CC4C105FBF588A9EBBD45742C349" Guid="{06448FF9-87C2-4082-B736-7D5A8B6D27E0}">
                <File Id="filE9F345539532616C2BEF86BE1CEB83E2" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Configuration.dll" />
            </Component>
            <Component Id="cmp695DF09F0E9EE30558F8C6D16553F843" Guid="{272FFF07-CD50-42E8-B566-06AA94451472}">
                <File Id="filEAA27D91AD78E3FCD8BA846C92752BAA" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Configuration.EnvironmentVariables.dll" />
            </Component>
            <Component Id="cmp0F72FDFC2B5DABBEED0952957424C516" Guid="{93572712-EF7D-46D7-96EA-3E8051651DDA}">
                <File Id="fil732B9D1BB8B2BA629B3802CB721B7E55" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Configuration.FileExtensions.dll" />
            </Component>
            <Component Id="cmp191446DEBB621CC91C2B2E713F085F01" Guid="{B4F32EA7-ABBB-4CEB-A9D6-EA392DD851F6}">
                <File Id="fil0CC9532B169036B73874B81A5F9C8F97" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Configuration.Json.dll" />
            </Component>
            <Component Id="cmp306F083BB44F8AEA42DD7E2AB9CD82C2" Guid="{7DCC44AA-1F27-4C28-ADD5-1C1866DCF860}">
                <File Id="fil867F166CDED00C699F6B217A4FC42957" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Configuration.UserSecrets.dll" />
            </Component>
            <Component Id="cmp198468A4AE980CD6955CB6EB86083726" Guid="{04E89FED-D6B2-4377-8B67-F209ED973A75}">
                <File Id="fil02E4E4D119BFC4831CEA5A71F1288443" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            </Component>
            <Component Id="cmp493E9BC44885B6BC5C57BDB1302C40D9" Guid="{27B53432-8BFF-4CCE-A517-BB3AA987A2BC}">
                <File Id="filA40291A4FBD4719B6995DEB783A39A65" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.DependencyInjection.dll" />
            </Component>
            <Component Id="cmp828BABCAA179DFEF8C123894E628FE4B" Guid="{46FF20D3-EE9F-4161-A807-3D2D9899B8D9}">
                <File Id="filF6E569B7A4467871DC459846AD8CAB0C" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.DependencyModel.dll" />
            </Component>
            <Component Id="cmpD71177CD3BCD768F1F74211E6E2E353D" Guid="{A79DDB5E-75C4-440D-A96A-6DBC76A81A18}">
                <File Id="filD6E38AF71AD3567AEFAB7A283BC7D3C6" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Diagnostics.Abstractions.dll" />
            </Component>
            <Component Id="cmpBB58932E81784E90600A3B2DEB2E2D6A" Guid="{4E84E657-6216-4CCA-BEFA-8871D50676B4}">
                <File Id="filBFD8FDE91AE486857624064B5808A0C1" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Diagnostics.dll" />
            </Component>
            <Component Id="cmp0209E8308C907CAD5474151F7C6836F5" Guid="{D4AD8C84-6C8E-4AAB-A301-9E3A4AF160F4}">
                <File Id="fil1036FDFADEB4E1F1FB133485A70A0DD4" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.FileProviders.Abstractions.dll" />
            </Component>
            <Component Id="cmp6361EE614B62630DD923390326EAF03C" Guid="{D52ACC78-912D-4E02-8EFA-30B44F1776FF}">
                <File Id="fil1B3C0C67DC448F84DA45630529031E78" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.FileProviders.Physical.dll" />
            </Component>
            <Component Id="cmp1E5A63B6F657DD090469973A1C3D2C59" Guid="{814E1B43-AE89-44B5-A799-F6CD26FE2CD2}">
                <File Id="fil931DDF3633F4CABF1422600B672C70DE" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.FileSystemGlobbing.dll" />
            </Component>
            <Component Id="cmpB96239F931804879A085E057C6E72657" Guid="{84773EC0-52F7-4B0D-891D-78F25B19D046}">
                <File Id="filFE47041DFF0F714E6C7D801D2D2C140A" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Hosting.Abstractions.dll" />
            </Component>
            <Component Id="cmp1ED5B5DCD1725E69F71E98865BCEAAB9" Guid="{84D33DA6-4B23-48B6-BB04-A43072F68B89}">
                <File Id="filD0586081609434942EDB53299EF52D71" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Hosting.dll" />
            </Component>
            <Component Id="cmp8C674FD6A69988A60A77A4CEE0F53781" Guid="{4D8E5199-06B9-4232-8D43-D0419F8B6C28}">
                <File Id="fil72342637E9F74EE945317D4603CEBA2F" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Logging.Abstractions.dll" />
            </Component>
            <Component Id="cmp9B211F39744547E733F9040027FF1A3B" Guid="{059FB382-656A-4DD1-A5B6-7CF8909ACBA3}">
                <File Id="filC6D4BDB43CC150D24C5E1BDE9EB552F7" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Logging.Configuration.dll" />
            </Component>
            <Component Id="cmp60BA3AB6448C5A0208FEDA4F886EDDE8" Guid="{B3136C07-5EEC-448E-8CBE-AC93C6491CD4}">
                <File Id="filA347F900C2828DE2F50C35BDA8F5CE44" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Logging.Console.dll" />
            </Component>
            <Component Id="cmp591239506CAB75D331DE5D90D6713057" Guid="{84643956-D5BD-4555-99B3-A7B9D4929FD1}">
                <File Id="fil1CB90B4A15160F351B5EB5D2DED1B050" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Logging.Debug.dll" />
            </Component>
            <Component Id="cmp835034F744990576E31C2DBC7C9293BF" Guid="{90BFC31B-C50E-4870-91C5-92014E11746A}">
                <File Id="fil71DD299EE7649E964200A4127797D1C0" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Logging.dll" />
            </Component>
            <Component Id="cmp3D087D80699D13BCB013A8533A2C0DCF" Guid="{F8641466-AF39-4540-8B8A-AF864329E0EA}">
                <File Id="filA050696110EF79DCA5E76B6513E54FB2" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Logging.EventLog.dll" />
            </Component>
            <Component Id="cmp63493859708989EE0F11F5DF7347E61A" Guid="{C858D9E2-D8C8-4138-8D23-96D19538C13E}">
                <File Id="filBF2F378F474FFE2ABA30A373F8BB00C0" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Logging.EventSource.dll" />
            </Component>
            <Component Id="cmpF5D2F2D913749765205DC918BD981CD0" Guid="{9E35FCA5-7E51-4BEA-9E59-6FE6D506E252}">
                <File Id="fil3F5CF8D11C3311A25D3082B99A709528" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Options.ConfigurationExtensions.dll" />
            </Component>
            <Component Id="cmp3279C150AE8DF554FD7EEE2085672A2B" Guid="{E5FB38EA-2EAB-4DF5-BB07-F65468A9B6AC}">
                <File Id="filA8D1F5D61FD7BC25099F707CBF5B1F24" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Options.dll" />
            </Component>
            <Component Id="cmp946145B53A7DCDFA822B0EFD2314FAB6" Guid="{91E954B6-C36E-49C2-962A-D5A404F274BC}">
                <File Id="fil773F29942324AAB2A7E1977E1AC63609" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Primitives.dll" />
            </Component>
            <Component Id="cmp74A2C73F11C177073B0A672936A0D5EB" Guid="{98CFD3F5-55C7-4D07-AFBD-D591549D6470}">
                <File Id="fil1CF141D24266A4E5F331DDFE02166A27" KeyPath="yes" Source="SourceDir\Serilog.dll" />
            </Component>
            <Component Id="cmpA9CD02E2996345805AE749B403FD0E7A" Guid="{03118F77-0CE5-4FC4-8405-780DD930D1E1}">
                <File Id="fil56CB5FAFD9298B97D060AE19F2DB1B10" KeyPath="yes" Source="SourceDir\Serilog.Extensions.Logging.dll" />
            </Component>
            <Component Id="cmp0E9DAA4C1F27CA840B7893F6337CDC29" Guid="{5276C4B8-891B-4BAE-B936-BBCCF4C12CBD}">
                <File Id="fil3908D6B667B492BF06F390753E52341D" KeyPath="yes" Source="SourceDir\Serilog.Settings.Configuration.dll" />
            </Component>
            <Component Id="cmpA2D421307CE91B4A95E7EFA67BE0A496" Guid="{BF2F9396-5874-40B0-88C3-DA69B1DAA06E}">
                <File Id="filB2CF39E2CB7A02186C2EB58C4B2E56E0" KeyPath="yes" Source="SourceDir\Serilog.Sinks.EventLog.dll" />
            </Component>
            <Component Id="cmp49818C715FF04B8E95F7B53BDDD323EF" Guid="{F57CE31D-4137-4366-A42C-B9530D9FA470}">
                <File Id="fil1A12B15365165DDBE60433B150808BEE" KeyPath="yes" Source="SourceDir\Serilog.Sinks.File.dll" />
            </Component>
            <Component Id="cmp9143FBEDB0909CDF06ED8DF33E7A8A5E" Guid="{6982C197-1AB0-49D7-8FD4-81051C4839BD}">
                <File Id="fil25B3F878ECBF570C2E9C747E6B044290" KeyPath="yes" Source="SourceDir\SkiaSharp.dll" />
            </Component>
            <Component Id="cmp28DA583D03D243568B9E8D67E28DC03E" Guid="{CB29145B-9AEF-4CE4-8A53-1BE1453B9622}">
                <File Id="fil7F8EC318E9E8F0F09CC7C081378B6293" KeyPath="yes" Source="SourceDir\System.Diagnostics.EventLog.dll" />
            </Component>
            <Component Id="cmp5ED2CDD1DBA8A80B0FF1E47DE1AF282E" Guid="{B92F86E1-8CC9-4CD1-8951-0E78C8F3B949}">
                <File Id="fil9DD23BFF5B45DFBE0F5BE59E2946302E" KeyPath="yes" Source="SourceDir\Tmds.DBus.Protocol.dll" />
            </Component>
            <Directory Id="dir58E8247E2885C01898CAD009F9EFD8BA" Name="runtimes">
                <Directory Id="dir6F75383DB633D8F130457F52F58EA410" Name="linux-arm">
                    <Directory Id="dirDE2B6474A7AE43169B31CD69645DD47A" Name="native">
                        <Component Id="cmp9BCB9F849487E2F90E0921E366C47ECE" Guid="{9459CC57-2AAD-4C1E-AA1D-AA61D675FDE7}">
                            <File Id="fil29008EF11B77520BD09276ACC7740664" KeyPath="yes" Source="SourceDir\runtimes\linux-arm\native\libHarfBuzzSharp.so" />
                        </Component>
                        <Component Id="cmpA4DFC9393A415C0B7471DCAE4BD2E8F6" Guid="{546C04D9-8529-4C1F-BA9A-B0C8820A5324}">
                            <File Id="filA37BD95CCD53FD07ECD5E9DE6A3CD695" KeyPath="yes" Source="SourceDir\runtimes\linux-arm\native\libSkiaSharp.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir4368456DE80A31A0FABEF422CF868A74" Name="linux-arm64">
                    <Directory Id="dirD4D406B0649E8BA45C0D436FC1C3D7B7" Name="native">
                        <Component Id="cmp7AF2BAA6ADCBE2925F058E3D77FCF1D0" Guid="{18A3BEAF-D042-4890-8421-17C79616B81B}">
                            <File Id="fil27DAA32462D14A011E88D568CBF738D4" KeyPath="yes" Source="SourceDir\runtimes\linux-arm64\native\libHarfBuzzSharp.so" />
                        </Component>
                        <Component Id="cmp027755E7FF031D3EF16A762070F098CF" Guid="{8CF6063A-6F33-4DEA-BA57-962320C22291}">
                            <File Id="fil8B0DEB2507DE8EDB805EB79D9C9DD440" KeyPath="yes" Source="SourceDir\runtimes\linux-arm64\native\libSkiaSharp.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir21E2C68AA7D7B76BDDEE2EB43E83B3F7" Name="linux-loongarch64">
                    <Directory Id="dir59B92FE91D65A94455894B87D00595D4" Name="native">
                        <Component Id="cmpF69CDCAB27F33A258A439058744360F9" Guid="{EA2A5F27-9BC1-4A1D-979C-70D3E76D6508}">
                            <File Id="filD84535D0B954F55B28B88EF7D35EEC9C" KeyPath="yes" Source="SourceDir\runtimes\linux-loongarch64\native\libHarfBuzzSharp.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirA428313306DAC7804456AE497823A13C" Name="linux-musl-arm">
                    <Directory Id="dirD76ACF565EA9B10D70DB2C8FF98995D4" Name="native">
                        <Component Id="cmp89E1794A061AFEE1BB88328516FF4C39" Guid="{E2D5203E-08C5-41F3-AEDF-1FC28CC01AA9}">
                            <File Id="fil251487A97A91834D891633A5751B22D4" KeyPath="yes" Source="SourceDir\runtimes\linux-musl-arm\native\libHarfBuzzSharp.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirBFEF8EBA4AB9946902F3931E45A1DAAC" Name="linux-musl-arm64">
                    <Directory Id="dir6063A5EA4028D1C926F2099FA576EEF6" Name="native">
                        <Component Id="cmp25381D28B1547AA71CEDE85D5AEF0691" Guid="{834BD38E-E6B8-4B66-96B4-A76FC0E47D52}">
                            <File Id="fil3D70B4697F69E13CB09560322712C78D" KeyPath="yes" Source="SourceDir\runtimes\linux-musl-arm64\native\libHarfBuzzSharp.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir0703E84D068CD4F1120B32D95CD8F498" Name="linux-musl-loongarch64">
                    <Directory Id="dirBA5DB98DF39943A860E9CAABD3646B1A" Name="native">
                        <Component Id="cmp2E8BE32351D161D8B849BAFA5FF706B8" Guid="{3AA7119C-1411-43B0-BB8B-7A192147499F}">
                            <File Id="filC2E3B84C4FEEEA83F49E84B69C9C239E" KeyPath="yes" Source="SourceDir\runtimes\linux-musl-loongarch64\native\libHarfBuzzSharp.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirB20C473CB3638D835DD59255072FC0B8" Name="linux-musl-riscv64">
                    <Directory Id="dirEF649F1DB1CE948EAAC8F3C7030C1039" Name="native">
                        <Component Id="cmp0C481AED16A1D8EF01B58BFC558D6E1E" Guid="{BE5C6425-A44D-45EC-B947-EC468AAED8F0}">
                            <File Id="filE1EA02AE3286ABAD11F61EAD0E38EA18" KeyPath="yes" Source="SourceDir\runtimes\linux-musl-riscv64\native\libHarfBuzzSharp.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir43C41CC727670B5306674FCA0856E156" Name="linux-musl-x64">
                    <Directory Id="dir45A4D9035B4FF6D574E71B5F5E92BDDF" Name="native">
                        <Component Id="cmp298761D4F08579235172A563A63B1923" Guid="{153AA1F8-4C54-4435-A513-65E8381DB2EC}">
                            <File Id="filF3BD36AEC8934DF194D05E057A95FF10" KeyPath="yes" Source="SourceDir\runtimes\linux-musl-x64\native\libHarfBuzzSharp.so" />
                        </Component>
                        <Component Id="cmp090EEF78CA118EF2C102BF1093CCA52B" Guid="{77AC5627-6F93-4EE1-B6EE-D4D78176A602}">
                            <File Id="fil490E9BC0A58AA6AE3A229A0380D306A0" KeyPath="yes" Source="SourceDir\runtimes\linux-musl-x64\native\libSkiaSharp.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir5BE37EC4232A57C0854704140E5534C8" Name="linux-riscv64">
                    <Directory Id="dirC81FB208002940C19E7DE796A3583C31" Name="native">
                        <Component Id="cmp917671FE2A302A906642ED3113BC3C08" Guid="{42B1EFBF-BE97-4D5F-814B-E91933421131}">
                            <File Id="filF56FA68D70DB16326B3F0D59B8E03A48" KeyPath="yes" Source="SourceDir\runtimes\linux-riscv64\native\libHarfBuzzSharp.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir986BEF73997BE02DCDBC34E856C19B36" Name="linux-x64">
                    <Directory Id="dirE1E651EB5B4F1522E5E10B81FEA70677" Name="native">
                        <Component Id="cmp7EF8DC061B339049AD28C0824E4456EB" Guid="{ED5E11F6-B44A-4181-AE4D-A5CBA50FDD1F}">
                            <File Id="filBBB237E9538F4A62B5157EB05627C4BF" KeyPath="yes" Source="SourceDir\runtimes\linux-x64\native\libHarfBuzzSharp.so" />
                        </Component>
                        <Component Id="cmp65D0FEBF87BEB2680AEA6144959131C4" Guid="{604C6017-5A1F-4F6D-B24F-609E8BB658E6}">
                            <File Id="filFD484AF971F38C1F5B0CA2103C47BFF3" KeyPath="yes" Source="SourceDir\runtimes\linux-x64\native\libSkiaSharp.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirC0CA974BC478884507E349436F81698C" Name="linux-x86">
                    <Directory Id="dir0EDA4459BC820EC0980B27A47C7CF5AA" Name="native">
                        <Component Id="cmpB1CE719E1A508132A56356F3A5BE32F3" Guid="{6D0EF55C-2028-425D-822B-9ED72290C23C}">
                            <File Id="fil93965819212A8270E1495074774D687F" KeyPath="yes" Source="SourceDir\runtimes\linux-x86\native\libHarfBuzzSharp.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir3DA9BA8D811ABA6F3AFA391339C320BE" Name="osx">
                    <Directory Id="dir2887E24B7F769B7740C67C14A1BE2316" Name="native">
                        <Component Id="cmpB9775DDD31B521B2926F9047F554589B" Guid="{48E27DBA-9DC3-4C80-9AC3-EFB958F7FA30}">
                            <File Id="filCBD70580AC731EE3E5695E822582CD24" KeyPath="yes" Source="SourceDir\runtimes\osx\native\libAvaloniaNative.dylib" />
                        </Component>
                        <Component Id="cmp9F56A67865F233F768ED1157D389FC08" Guid="{630049E4-54A2-4EC1-9FA4-6C8F00B12E33}">
                            <File Id="fil48259A4D5575ADB6EDC89CDEA0B49EFC" KeyPath="yes" Source="SourceDir\runtimes\osx\native\libHarfBuzzSharp.dylib" />
                        </Component>
                        <Component Id="cmp568E4AD6DA39DD95EFE883A676D7ED4E" Guid="{4F41E66B-DD31-4574-98B4-C8092B568B51}">
                            <File Id="filC40FD61C164DA6CACE578457C2DACEB6" KeyPath="yes" Source="SourceDir\runtimes\osx\native\libSkiaSharp.dylib" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir9BE9104649A116CC7BCCF4D9CCD3331B" Name="win">
                    <Directory Id="dirD19B0610952D1EE2D417EB5361695989" Name="lib">
                        <Directory Id="dir44D8724A1BECE91FFC26B75F7ED2AE05" Name="net10.0">
                            <Component Id="cmp070F750198CC4F4D0F151F909296421B" Guid="{EA98DF63-C686-4F5B-85AF-5A8301671B33}">
                                <File Id="fil63C373FB06D6750513BCC2DD7A8273FF" KeyPath="yes" Source="SourceDir\runtimes\win\lib\net10.0\System.Diagnostics.EventLog.dll" />
                            </Component>
                            <Component Id="cmpA2C319A8A3A3406A1C453A9219CCB982" Guid="{712E8039-8D25-4144-81C7-E2D421C24632}">
                                <File Id="fil7185B59F1A6C9294DAB8D7A2E79FDA21" KeyPath="yes" Source="SourceDir\runtimes\win\lib\net10.0\System.Diagnostics.EventLog.Messages.dll" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
                <Directory Id="dirFF6AADC4B618984E1542CDA5FCBD7BB1" Name="win-arm64">
                    <Directory Id="dir65EC979D52EB501E3A656AA03EE4F2F5" Name="native">
                        <Component Id="cmpCB36C89C7EB8CF8A9F72DA023FF067E2" Guid="{B35BA3B6-8DB7-4EE3-B602-DB34B3A67084}">
                            <File Id="fil6111968BC256BEA01F9C8CB3EDC6F897" KeyPath="yes" Source="SourceDir\runtimes\win-arm64\native\av_libglesv2.dll" />
                        </Component>
                        <Component Id="cmp61A41E1CD5A0F00D862C64ED03A82952" Guid="{7C639736-F2F2-4C1D-9A51-39658F753C23}">
                            <File Id="filBCC8D13C070830507169C83D7BB4DACF" KeyPath="yes" Source="SourceDir\runtimes\win-arm64\native\libHarfBuzzSharp.dll" />
                        </Component>
                        <Component Id="cmp639DCD8A02385D886E71B7C782C873B1" Guid="{0CB2FFFB-E439-4EF7-9E30-A50C0006A71D}">
                            <File Id="fil22AEDA0A16AEA94EEBA54926A3CCA709" KeyPath="yes" Source="SourceDir\runtimes\win-arm64\native\libSkiaSharp.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirB9C75524282911E40C3C964A8836A714" Name="win-x64">
                    <Directory Id="dir1F9DF9DD2FB29AE2942604FAC206D5C4" Name="native">
                        <Component Id="cmpA113B54AD9472A8B00B339041BF70956" Guid="{B8519F61-B586-4260-AAB8-C77143BC86EC}">
                            <File Id="fil00E6DFC275B913B0FD6C132E373D67A0" KeyPath="yes" Source="SourceDir\runtimes\win-x64\native\av_libglesv2.dll" />
                        </Component>
                        <Component Id="cmpCECFA1DB8961195D4C54EDEAE348A995" Guid="{A8C3511C-F6C7-4E42-BFE2-85343228CE9C}">
                            <File Id="fil2553B8AA34697079E96CBD652BE6EEE2" KeyPath="yes" Source="SourceDir\runtimes\win-x64\native\libHarfBuzzSharp.dll" />
                        </Component>
                        <Component Id="cmp16AABE693EA93995D2EC516C350282D1" Guid="{9EAEB6A6-DE05-498F-B1F6-B058820F3AF4}">
                            <File Id="fil43234505EE71DDE9F0870503839AF6B4" KeyPath="yes" Source="SourceDir\runtimes\win-x64\native\libSkiaSharp.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir92F336DAA82E5A629052407A3F87EF27" Name="win-x86">
                    <Directory Id="dir2B43AAE918D399CEF13EC6CBA2D3D5EA" Name="native">
                        <Component Id="cmp4B4C68F493A3AC74FB52B00C870850D3" Guid="{757C515C-C573-491B-9373-CC86322D472A}">
                            <File Id="fil581901B61F4B60BE436EAD01AFF25A2A" KeyPath="yes" Source="SourceDir\runtimes\win-x86\native\av_libglesv2.dll" />
                        </Component>
                        <Component Id="cmpBB26F731D3006AA4F4587ECC4EFCBD8D" Guid="{FC1B7757-3AE3-41D8-A3FA-38C09D4C7F14}">
                            <File Id="filF5CEB7A3C9F4FDCDBE3844D75348E350" KeyPath="yes" Source="SourceDir\runtimes\win-x86\native\libHarfBuzzSharp.dll" />
                        </Component>
                        <Component Id="cmp6B0DE9B3B377E1A5843728D12580964C" Guid="{6F18319D-6E41-4342-83D8-3C4762DBCB4D}">
                            <File Id="filA67EA38A4D3B70E3D211E99EB83C38A8" KeyPath="yes" Source="SourceDir\runtimes\win-x86\native\libSkiaSharp.dll" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponents">
            <ComponentRef Id="cmpA0863526952F7834E7C922F065E4C8A8" />
            <ComponentRef Id="cmpF82FCA80BBAF44D285C97F10993DEEE6" />
            <ComponentRef Id="cmp942DDD43C48E48C13C1ED70AF7D6D72E" />
            <ComponentRef Id="cmp3BC9F602F8F92F9D3C907C2BC0FA3A0E" />
            <ComponentRef Id="cmpB7E58B98F6D0890A53636E6C2E953061" />
            <ComponentRef Id="cmp93743B50FD3FC8AB2EA47897093C2467" />
            <ComponentRef Id="cmp46C92BABDACBE495A5CED58407D280D8" />
            <ComponentRef Id="cmp27A31D9C3C1AA272F0D0D90DEE7CF252" />
            <ComponentRef Id="cmp753A550BCADD7E2DE4FB25F55CBFA512" />
            <ComponentRef Id="cmp1F6A512565E2FBF645A3230C236BE532" />
            <ComponentRef Id="cmp738E0436923046D0A9B0D658E3640016" />
            <ComponentRef Id="cmpDF229E3F98CA2E37326E841BEB412F73" />
            <ComponentRef Id="cmp2B371E13774EC94A8B29135E6290B962" />
            <ComponentRef Id="cmp5165332B3300942339A67AA4E269E40F" />
            <ComponentRef Id="cmp1B2EAD28185A3AF7CC96A0B8C877E4DE" />
            <ComponentRef Id="cmpDAEE63BB086710AE102FE19B31C06D91" />
            <ComponentRef Id="cmp7D89FB0244088E2C966B72866F74928E" />
            <ComponentRef Id="cmp652C599E2FF46ADF0FDF7E590A048DFF" />
            <ComponentRef Id="cmp8E8F6EFAE0A502E5C75FB3A517EFEDE8" />
            <ComponentRef Id="cmp3B1701CAC2286534858181E0A387FC2A" />
            <ComponentRef Id="cmp4288AAFFB0BD49192CC5E1F5A1037EE5" />
            <ComponentRef Id="cmpC9723B550439F318FDDB610B8243A31B" />
            <ComponentRef Id="cmp37B84349BF328B1F3E0F83529BB42B12" />
            <ComponentRef Id="cmp57A114496F1FEBFC8968E2E30AFA3599" />
            <ComponentRef Id="cmp1B962F159356F8395269415D98063C3C" />
            <ComponentRef Id="cmpC7133CDDCA73D11DC9059ADFB702656C" />
            <ComponentRef Id="cmp9BE86820D2E5626E10CE837DFAA24EFA" />
            <ComponentRef Id="cmpCE837621E2F7B4F8D1F3A362B2AA5CAA" />
            <ComponentRef Id="cmp35338C36FC8BD845C936E5D916C9622D" />
            <ComponentRef Id="cmpBDC2381ADB0054BF38F31E7F54B125E7" />
            <ComponentRef Id="cmp4F37719584352F65D33D40017843B17F" />
            <ComponentRef Id="cmpBE5E02242AD30755F00B7FE2A4313FFF" />
            <ComponentRef Id="cmp6E52FEFA6BB26E501487BBBFD5B22D83" />
            <ComponentRef Id="cmp8B6B824170531DA4ACCB267F3B3F8FF6" />
            <ComponentRef Id="cmpC92B011B9D4BE8C57CCA560516CAAAFD" />
            <ComponentRef Id="cmpDC19BA21EFF423B27F8787A2AB8F2B3C" />
            <ComponentRef Id="cmp85A16DDDD438C8839C302EEFF54E8E0C" />
            <ComponentRef Id="cmp4A61E3F01E16F7C35D22D304DE7C3D7D" />
            <ComponentRef Id="cmpC2B3CC4C105FBF588A9EBBD45742C349" />
            <ComponentRef Id="cmp695DF09F0E9EE30558F8C6D16553F843" />
            <ComponentRef Id="cmp0F72FDFC2B5DABBEED0952957424C516" />
            <ComponentRef Id="cmp191446DEBB621CC91C2B2E713F085F01" />
            <ComponentRef Id="cmp306F083BB44F8AEA42DD7E2AB9CD82C2" />
            <ComponentRef Id="cmp198468A4AE980CD6955CB6EB86083726" />
            <ComponentRef Id="cmp493E9BC44885B6BC5C57BDB1302C40D9" />
            <ComponentRef Id="cmp828BABCAA179DFEF8C123894E628FE4B" />
            <ComponentRef Id="cmpD71177CD3BCD768F1F74211E6E2E353D" />
            <ComponentRef Id="cmpBB58932E81784E90600A3B2DEB2E2D6A" />
            <ComponentRef Id="cmp0209E8308C907CAD5474151F7C6836F5" />
            <ComponentRef Id="cmp6361EE614B62630DD923390326EAF03C" />
            <ComponentRef Id="cmp1E5A63B6F657DD090469973A1C3D2C59" />
            <ComponentRef Id="cmpB96239F931804879A085E057C6E72657" />
            <ComponentRef Id="cmp1ED5B5DCD1725E69F71E98865BCEAAB9" />
            <ComponentRef Id="cmp8C674FD6A69988A60A77A4CEE0F53781" />
            <ComponentRef Id="cmp9B211F39744547E733F9040027FF1A3B" />
            <ComponentRef Id="cmp60BA3AB6448C5A0208FEDA4F886EDDE8" />
            <ComponentRef Id="cmp591239506CAB75D331DE5D90D6713057" />
            <ComponentRef Id="cmp835034F744990576E31C2DBC7C9293BF" />
            <ComponentRef Id="cmp3D087D80699D13BCB013A8533A2C0DCF" />
            <ComponentRef Id="cmp63493859708989EE0F11F5DF7347E61A" />
            <ComponentRef Id="cmpF5D2F2D913749765205DC918BD981CD0" />
            <ComponentRef Id="cmp3279C150AE8DF554FD7EEE2085672A2B" />
            <ComponentRef Id="cmp946145B53A7DCDFA822B0EFD2314FAB6" />
            <ComponentRef Id="cmp74A2C73F11C177073B0A672936A0D5EB" />
            <ComponentRef Id="cmpA9CD02E2996345805AE749B403FD0E7A" />
            <ComponentRef Id="cmp0E9DAA4C1F27CA840B7893F6337CDC29" />
            <ComponentRef Id="cmpA2D421307CE91B4A95E7EFA67BE0A496" />
            <ComponentRef Id="cmp49818C715FF04B8E95F7B53BDDD323EF" />
            <ComponentRef Id="cmp9143FBEDB0909CDF06ED8DF33E7A8A5E" />
            <ComponentRef Id="cmp28DA583D03D243568B9E8D67E28DC03E" />
            <ComponentRef Id="cmp5ED2CDD1DBA8A80B0FF1E47DE1AF282E" />
            <ComponentRef Id="cmp9BCB9F849487E2F90E0921E366C47ECE" />
            <ComponentRef Id="cmpA4DFC9393A415C0B7471DCAE4BD2E8F6" />
            <ComponentRef Id="cmp7AF2BAA6ADCBE2925F058E3D77FCF1D0" />
            <ComponentRef Id="cmp027755E7FF031D3EF16A762070F098CF" />
            <ComponentRef Id="cmpF69CDCAB27F33A258A439058744360F9" />
            <ComponentRef Id="cmp89E1794A061AFEE1BB88328516FF4C39" />
            <ComponentRef Id="cmp25381D28B1547AA71CEDE85D5AEF0691" />
            <ComponentRef Id="cmp2E8BE32351D161D8B849BAFA5FF706B8" />
            <ComponentRef Id="cmp0C481AED16A1D8EF01B58BFC558D6E1E" />
            <ComponentRef Id="cmp298761D4F08579235172A563A63B1923" />
            <ComponentRef Id="cmp090EEF78CA118EF2C102BF1093CCA52B" />
            <ComponentRef Id="cmp917671FE2A302A906642ED3113BC3C08" />
            <ComponentRef Id="cmp7EF8DC061B339049AD28C0824E4456EB" />
            <ComponentRef Id="cmp65D0FEBF87BEB2680AEA6144959131C4" />
            <ComponentRef Id="cmpB1CE719E1A508132A56356F3A5BE32F3" />
            <ComponentRef Id="cmpB9775DDD31B521B2926F9047F554589B" />
            <ComponentRef Id="cmp9F56A67865F233F768ED1157D389FC08" />
            <ComponentRef Id="cmp568E4AD6DA39DD95EFE883A676D7ED4E" />
            <ComponentRef Id="cmp070F750198CC4F4D0F151F909296421B" />
            <ComponentRef Id="cmpA2C319A8A3A3406A1C453A9219CCB982" />
            <ComponentRef Id="cmpCB36C89C7EB8CF8A9F72DA023FF067E2" />
            <ComponentRef Id="cmp61A41E1CD5A0F00D862C64ED03A82952" />
            <ComponentRef Id="cmp639DCD8A02385D886E71B7C782C873B1" />
            <ComponentRef Id="cmpA113B54AD9472A8B00B339041BF70956" />
            <ComponentRef Id="cmpCECFA1DB8961195D4C54EDEAE348A995" />
            <ComponentRef Id="cmp16AABE693EA93995D2EC516C350282D1" />
            <ComponentRef Id="cmp4B4C68F493A3AC74FB52B00C870850D3" />
            <ComponentRef Id="cmpBB26F731D3006AA4F4587ECC4EFCBD8D" />
            <ComponentRef Id="cmp6B0DE9B3B377E1A5843728D12580964C" />
        </ComponentGroup>
    </Fragment>

</Wix>