name: ConsoleDeck Service - Create new release version

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:

permissions:
  contents: write

env:
  WORK_DIR: ./ConsoleDeckService

jobs:
  build-and-release:
    runs-on: windows-latest
  
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup .NET 10
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.0.x'

      - name: Restore project dependencies
        working-directory: ${{ env.WORK_DIR }}
        run: dotnet restore

      - name: Run all unit tests
        working-directory: ${{ env.WORK_DIR }}
        run: dotnet test --no-restore

      - name: Publish a new release version
        working-directory: ${{ env.WORK_DIR }}
        run: dotnet publish -c Release -o release --no-restore .\ConsoleDeckService.csproj

      - name: Create MSI package via Advanced Installer
        uses: caphyon/advinst-github-action@v2
        with:
          acvinst-version: '23.3'
          advinst-enable-automation: true
          aip-path: ${{ env.WORK_DIR }}/ConsoleDeck_Service.aip
          aip-commands:
            SetVersion ${{ github.ref_name }}
            SetPackageName ConsoleDeckService_${{ github.ref_name }}.msi

      - name: Create GitHub Release
        uses: softprops/actions-gh-release@v2
        with:
          files: ${{ env.WORK_DIR }}/ConsoleDeckService_${{ github.ref_name }}.msi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
